parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: true
    uncheckedExceptions: []
  checkMissingIterableValueType: false
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~is not subtype of Throwable~'
    - '~PHPDoc tag @throws with type .* is not compatible with parent~'
    - '~Throwable is never thrown in the corresponding try block~'
    - '~Call to an undefined method Laminas\\ModuleManager\\ModuleManagerInterface::getEvent~'
    - '~Laminas\\ServiceManager\\Exception\\(ServiceNotCreatedException|ServiceNotFoundException) is never thrown in the corresponding try block~'
    - '~MongoDB\\Client~'
    - '~PhpAmqpLib\\Channel\\AMQPChannel~'
    - '~Call to deprecated method getType\(\) of class Monolog\\Formatter\\ElasticaFormatter~'
    - '~Parameter #2 \$extraFields of class Monolog\\Processor\\WebProcessor constructor expects~'
    - '~Parameter #1 \$stream of class Monolog\\Handler\\StreamHandler constructor expects~'
    - '~Parameter #2 \$level of class CMDISP\\MonologMicrosoftTeams\\TeamsLogHandler constructor expects~'
    - '~InvalidArgumentException is never thrown in the corresponding try block~'
