parameters:
  level: 8
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  exceptions:
    implicitThrows: false
    checkedExceptionRegexes:
      - '#Exception#'
      - '#Throwable#'
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
  ignoreErrors:
    - '~Dead catch~'
    - '~Call to an undefined method Laminas\\ModuleManager\\ModuleManagerInterface::getEvent~'
    - '~MongoDB\\Client~'
    - '~Call to deprecated method getType\(\) of class Monolog\\Formatter\\ElasticaFormatter~'
    - '~Parameter #1 \$stream of class Monolog\\Handler\\StreamHandler constructor expects~'
    - '~Parameter #2 \$level of class CMDISP\\MonologMicrosoftTeams\\TeamsLogHandler constructor expects~'
    - '~Parameter #2 \$channelToActionLevel of class Monolog\\Handler\\FingersCrossed\\ChannelLevelActivationStrategy constructor expects~'
    - '~overridden property~'
    - '~Elastic\\Elasticsearch\\Client(Builder)?~'
